/*
!/assets
!/CHANGELOG.md
!/ci/
!/config/
!/install/
!/LICENSE.md
!/src/
!/tests/
!/.editorconfig
!/.gitattributes
!/.github/
!/.gitignore
!/.travis.yml
!/bashlight
!/docs
!/install.bash
!/README.md
!/update.bash

# Exclusion
/ci/variables/credentials.yml
/tests/tmp/