/*
!/.editorconfig
!/.gitattributes
!/.github/
!/.gitignore
!/.travis.yml
!/assets
!/bashlight
!/CHANGELOG.md
!/CONTRIBUTE.md
!/ci/
!/config/
!/config.bash
!/docs
!/LICENSE.md
!/install/
!/install.bash
!/migrate.bash
!/README.md
!/src/
!/tests/
!/update.bash

# Exclusion
/ci/variables/credentials.yml
/tests/tmp/
/tests/helpers/assertions